@model Insurance.Bancassurance.DataModel.ASPNETUSERS

@{
    ViewBag.Title = "Change User Password";
    List<string> errorMessage = new List<string>();
    errorMessage = (List<string>)ViewBag.Message;
    bool? successChanged = ViewBag.Success;

}
<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">@ViewBag.Title</h3>
        @{
            if (successChanged != null && successChanged == true)
            {

                <h5>  Password hass been changes successfully.</h5>

            }

        }
        <h5>

            @{
                if (errorMessage != null && errorMessage.Count > 0)
                {
                    foreach (var item in errorMessage)
                    {
                        @item;<br />
                    }

                }

            }
        </h5>
    </div>



    @using (Html.BeginForm())
    {

        if (successChanged == null || successChanged == false)
        {
            <div class="box-body">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.USERNAME)


                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="CURRENT_PASSWORD">Current Password</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control text-box single-line" id="CURRENT_PASSWORD_ID" name="CURRENT_PASSWORD" required="required">
                            <span class="field-validation-valid text-danger" data-valmsg-for="CURRENT_PASSWORD" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="NEW_PASSWORD_ID">New Password</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control text-box single-line" id="NEW_PASSWORD_ID" name="NEW_PASSWORD" required="required">
                            <span class="field-validation-valid text-danger" data-valmsg-for="NEW_PASSWORD" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="CONFIRM_NEW_PASSWORD">Re-Type New Password</label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" id="CONFIRM_NEW_PASSWORD_ID" name="CONFIRM_NEW_PASSWORD" type="password" required="required">
                            <span class="field-validation-valid text-danger" data-valmsg-for="CONFIRM_NEW_PASSWORD" data-valmsg-replace="true"></span>
                        </div>
                    </div>



                </div>
                <div class="box-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Submit" class="btn btn-default" />
                        </div>
                    </div>
                </div>


            </div>

        }

    }


</div>
